<header class="d-flex justify-content-center py-3">
    <nav class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/PR02' ? 'active' : '' %>" href="/PR02">PR02</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/start' ? 'active' : '' %>" href="/start" >eCommerce Site</a>
            </li>
        </ul>
        
        
        
    </nav>

    
</header>


