<%- include('includes/head.ejs') %>
</head>

<body>

    <%- include('includes/nav.ejs') %>
    <main>
        <div class="container">
            <h1 class="text-center mb-3">Whoops...somethings wrong with the server.</h1>
            <p class="text-center">We'll need to investigate this. Sorry!</p>
        </div>

    </main>

    <%- include('includes/end.ejs') %>