<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/nav2.ejs') %>

    <main>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
              <h1 class="display-4 fw-normal">Welcome to the eCommerce Practice Site - Week 8</h1>
              <p class="lead fw-normal">Uploading Files, Pagination</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <!-- <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
          </div>
    </main>
<%- include('includes/end.ejs') %>


 