<%- include('includes/head.ejs') %>

<!-- inlude additional style sheets here -->
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1 class="main-title">My Book List</h1>
        <div class="main-list">

            <h1>book list</h1>


        </div>

<%- include('includes/end.ejs') %>