<%- include('includes/head.ejs') %>

    <link rel="stylesheet" href="/css/add-book.css" >
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1>Add a book to the list</h1>
        <div class="form-control">
            <form action="/pr02a/addBook" method="POST">
                <div class="form-control__row">
                    <label for="title">Title</label>
                    <input type="text" name="title">
                </div>
                <div class="form-control__row">
                    <label for="author">Author</label>
                    <input type="text" name="author">
                </div>
                <div class="form-control__row">
                    <label for="price">Price</label>
                    <input type="text" name="price">
                </div>
                <div class="form-control__row">
                    <button type="submit">Add Book</button>
                </div>
            </form>

            <!-- <p>If you'd like to remove a book enter the title here:</p>

            <form action="/pr02a/remBook" method="POST">
                <div class="form-control__row">
                    <label for="remBook">Title</label>
                    <input type="text" name="remBook">
                </div>

                <div class="form-control__row">
                    <button type="submit">Remove Book</button>
                </div>
            </form> -->
            
        </div>

<%- include('includes/end.ejs') %>