<%- include('includes/head.ejs') %>

<!-- inlude additional style sheets here -->
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1 class="main-title">My Book List</h1>
        <div class="main-list">
            <% if (books.length > 0) { %>
                <ul>
                    <% for(book of books) { %>
                    <li><%= book %></li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>There are no books in the list</p>
            <% } %>
        </div>
        <a href="/pr02a">Add a book</a>

<%- include('includes/end.ejs') %>