<!DOCTYPE html>
<html>

<head>
  <%- include ('../../includes/head.ejs') %>
</head>

<body>
  <%- include ('../../includes/nav.ejs') %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">
      <form action="/ta02/addUser" method="POST">
        <input type="text" name="addUser">
        <button type="submit">Add User</button>
      </form>

      
      <form action="/ta02/remUser" method="POST">
        <input type="text" name="remUser">
        <button type="submit">Remove User</button>
      </form>

      <h2>Users:</h2>
      <ul>
        <% for(user of users) { %>
          <li><%= user %></li>
        <% } %>
        </ul>


    </div>




</body>

</html>