<head>
  <%- include ('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/nav') %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= pageTitle %>
        </h1>
        <p>This is the placeholder for Team Activity 04</p>
      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>