<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/nav2.ejs') %>

        <main>

            <div class="container">
                <h1 class='text-center'>thank you for your order</h1>
                <hr>
                <a href="/orders">Open Orders</a>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>