<%- include('includes/head.ejs') %>

<!-- inlude additional style sheets here -->
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1 class="main-title">CSE341 Project 1</h1>
        <hr>
        
        <h2>Welcome to my repo for weeks 2-6</h2>

<%- include('includes/end.ejs') %>